$page.setTitle("Password")

<form action="$app1Link.setTarget("form/password")" method="post">
    $csrfToken.hiddenField
    <input type="hidden" name="action" value="register_action"/>

    #set ($group = $form.register.defaultInstance)

    <p>Hello, what's your password?</p>

    #if (!$group.name.valid)
        <p>$group.name.message</p>
    #end

    <p>
        <input type="password" name="$group.passwd.key" value="$!group.passwd.value"/>
        <input type="submit" name="event_submit_do_check"/>
    </p>

</form>